.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 70vh;
  }
  
  .message {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    align-self: flex-end;
  }

.message .name {
  color: #0c0c0c; /* username color */

}


.message .content {
  background-color: #0c0c0c;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  color: #fff; /* message content color */
}


.message.right .content {
  background-color: #6de710;
  align-self: flex-end;
}

.message.left .content {
  background-color: #f00d0d;
  align-self: flex-start;
}
