html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #bcddeb;
  }
  
  .app {
    display: flex;
    border: 2px solid black; 
    border-radius: 10px;
    width: 400px; 
    height: 600px; 
    background-color: #e3daeb;
  }
  
  